@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap");

body {
  display: flex;
  justify-content: center;
  background-color: #6e5c62;
  padding: 0%;
  margin: 0;
  height: calc(100% - var(--inset));
  margin-top: var(--inset);
}

nav {
  justify-content: center;
  display: flex;
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  place-items: center;
}

nav h1 {
  display: flex;
  margin: 0;
  font-family: "Mitr", sans-serif;
  color: white;
  font-size: 3em;
  margin: 0em;
}

.App {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-family: "Mitr", sans-serif;
  width: max-content;
}

.board {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.row {
  display: flex;
  flex-direction: row;
}

.letter {
  display: flex;
  border-color: #4c4347;
  border-style: solid;
  border-radius: 0.3em;
  border-width: 0.15em;
  justify-content: center;
  align-items: center;
  width: 1.75em;
  height: 1.75em;
  font-size: 2em;
  font-family: "Mitr", sans-serif;
  margin: 0.05em 0.1em;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.line1 {
  display: flex;
  flex-direction: row;
}

.line2 {
  display: flex;
  flex-direction: row;
}

.line3 {
  display: flex;
  flex-direction: row;
}

.key {
  border: none;
  display: flex;
  background-color: #4c4347;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: "Mitr", sans-serif;
  color: #fafaff;
  width: 3em;
  height: 4em;
  border-radius: 0.65em;
  margin: 0.2em;
}

#big {
  width: 5em;
}

#correct {
  background-color: #3aa394;
}
#almost {
  background-color: #d3ad69;
}
#error {
  background-color: #312a2c;
}

#disabled {
  background-color: #594b4f;
  color: #6e5c62;
}
